# Q1)What is 7 to the power of 4

In [2]:
7**4

2401

# Q2)
''' ** Split this string:**

s = "Hi there Yogesh!"

 **into a list. ** '''

In [10]:
v1= "Hi there Yogesh!"

In [23]:
list(v1.split(sep=' '))

['-23902']

# Q3)  
** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [27]:
v2='The diameter of {planet} is {diameter} kilometer'
v2.format(planet='Earth',diameter='12742')

'The diameter of Earth is 12742 kilometer'

# Q4)
** Given this nested list, use indexing to grab the word "hello" **
list = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [22]:
list = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [24]:
list[3][1][2]

['hello']

# Q5)
** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [31]:
v3 = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [33]:
v3['k1'][3]['tricky'][3]['target'][3]

'hello'

# Q6)
What is the main difference between a tuple and a list?

The main diffrence between a tuple and a list is that a list is mutable and a tuple is not.

# Q7)
** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [63]:
def domain_grabber(s):
    t=s.split(sep="@")
    print(t[1])

In [65]:
domain_grabber('soham@gmail.com')

gmail.com

# Q8)
** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [129]:

def dog_function(s):
    t=str(s.lower())
    if 'dog' in t:
        print('True')

In [131]:
dog_function('wefnwfiwmDoGdwe')

True

# Q9)
** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [37]:
def count_dog(v4): # why is this not working??  
    v5=v4.lower()
    v6=v5.split(sep=' ')
    v6.count('dog')

In [192]:
count_dog('This dog runs faster than the other dog dude!')

# Q10)
 Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']

In [41]:
seq=['soup','dog','salad','cat','great']

In [43]:
list(filter(lambda z:z[0]!='s',seq))

['dog', 'cat', 'great']

# Q11)
You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [278]:
def speed_function(speed,birthday): # speed 60 or less = no ticket, bw 61 and 80 small, 81 or higher big. if bday all speed can be higher by 5.
    if  birthday==True:
        new_speed=speed-5
    else:
        new_speed=speed
    if new_speed>80:
        return 'BIG TICKET'
    elif new_speed>60:
        return "SMALL TICKET"
    else:
        return "NO TICKET"

In [284]:
speed_function(81,False)

'BIG TICKET'

# Q12)
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [322]:
n1=input('Enter your number:')
n2=int(n1[::-1])
n3=str(n2+int(n1))
while n3!=n3[::-1]:
    n3=str((int(n3))+int(n3[::-1]))
print("Palindrome is: {a}".format(a=n3))

Enter your number: 65

Palindrome is: 121

# Q13)

Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [51]:
v7=input("Input your data: ")
numbers=[0,1,2,3,4,5,6,7,8,9]
v8=''
if v7[0]=='-':
    v8=v8+v7[0]
    
for x in v7:
    if x in str(numbers):
        v8=v8+x
print(v1)

Input your data:  -23r9f2

-23902

In [3]:
type(v1)

str

# Q14)

Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third, 
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [10]:
'''
abcde
a=b+2  .a-2=b
b=c+2  .b-2=c (a-4=c)
d=c-2  .
e=d+2
c+d+e=a
a+b+c+d+e=19
'''

'\nabcde\na=b+2\nb=c+2\nd=c-2\ne=d+2\nc+d+e=a\na+b+c+d+e=19\n'

In [92]:
def five_digit_function():
    for x in range(0,10):
        a=x
        b=x-2
        c=x-4
        d=x-6
        e=x-4
        if int(c)+int(d)+int(e)==int(a) and int(a)+int(b)+int(c)+int(d)+int(e)==19:
                print(str(a)+str(b)+str(c)+str(d)+str(e))

In [94]:
five_digit_function()

75313